<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            Таблица аккаунтов
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Holder</th>
                <th>Amount</th>
                <th>Number</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody th:each="account : ${data}">
            <tr>
                <td th:text="${account.id}"></td>
                <td th:text="${account.holder}"></td>
                <td th:text="${account.amount}"></td>
                <td th:text="${account.number}"></td>
                <td><a th:href="@{/edit(id=${account.id})}">Редактировать</a></td>
                <td><a th:href="@{/remove(id=${account.id})}">Удалить</a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>